// 运行自动编译
// mvn com.github.warmuuh:libsass-maven-plugin:0.2.8-libsass_3.4.4:watch

// 自定义bootstrap
@import "app.var.scss";

// 引入bootstrap依赖
@import "../vendor/bootstrap4/scss/bootstrap.scss";

// 引入图标字体
@import "../vendor/font-awesome/scss/font-awesome.scss";

// 自定义页面&字体设置
// -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif
html,body{
	font-family:BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",SimSun,sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size:$base-color;
}

// 登录
body.login{
	background-color:#eaeaea;
}
.auth-login{
	width: 400px;
    background-color: #fff;
    font-size: 0.875rem;
}

// 媒体查询
@media (min-width: 970px) {
	.container{
		width:940px;
	}
}
