.intro {
  background-color: rgba(255, 247, 219, 1);
  .container {
    height: 100%;
  }
  .intro-info {
    padding-bottom: 15px;
    .intro-info-text {
      font-weight: 500;
    }
    button {
      margin: 0 auto;
      display: block;
    }
  }
  .right-img {
    max-width: 100%;
  }
  .left-img {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    height: 325px;
    .container {
      position: relative;
    }
    .left-img {
      max-width: 200px;
      position: absolute;
      top: 100px;
      left: -50px;
    }
    .intro-info {
      position: absolute;
      top: 100px;
      left: 150px;
      max-width: 350px;
      button {
        margin: 0;
      }
    }
    .right-img {
      position: absolute;
      right: -50px;
    }
  }
}

.kingdom {
  padding: 15px;
  .kingdom-head {
    height: 30px;
    text-align: center;
    .kingdom-head-icon {
      vertical-align: middle;
    }
    .kingdom-head-title {
      font-weight: 700;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .kingdom-body {
    @media (min-width: 768px) {
      .col-6 {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
    .kingdom-item {
      position: relative;
      width: 150px;
      height: 168px;
      line-height: 168px;
      background: inherit;
      margin: 10px auto;
      text-align: center;
      color: white;
      p {
        line-height: 0;
        margin-top: -20px;
      }
      .icon-img {
        margin-top: -20px;
      }
      //.icon-triangle {
      //  position: absolute;
      //  transform: rotate(135deg);
      //  right: -19px;
      //  bottom: -4px;
      //}
      .icon-triangle{
        width: 0;
        height: 0;
        border-right: 30px solid transparent;
        border-bottom: 30px solid #1a1b1b;
        border-left: 30px solid transparent;
        transform: rotate(135deg);
        position: absolute;
        /* top: 2px; */
        right: -19px;
        bottom: -4px;
        opacity: 0.1;
      }
      &.item-qa {
        background-color: rgba(79, 182, 231, 1);
      }
      &.item-2 {
        background-color: rgba(250, 199, 103, 1);
        color: #623519;
      }
      &.item-3 {
        background-color: rgba(127, 189, 103, 1);
      }
      &.item-4 {
        background-color: rgba(225, 229, 232, 1);
        color: #623519;
      }
      &.item-5 {
        background-color: rgba(207, 77, 86, 1);
      }
    }
  }
}